/* кнопки */

.page-button {
  min-width: 128px;
  margin: 0;
  margin-top: 34px;
  padding: 10px 20px;

  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1c7430;

  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  opacity: 0.85;
}
